html, body, #app{
    height: 100%;
    margin: 0;
}
#app {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;
    align-items: center;*/

    /*align-items: center;
    justify-content: space-between;*/
}

.box {
    width: 60px;
    height: 60px;
    background-color: #f00;
    margin: 5px;

}

.red {
    order: 4;
}

.green {
    background: #0F0;
    order: 2;
}
.blue {
    background: #00f;
    order: 1;
}